@import "bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    margin: 100px auto;
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

.top-icon, .bottom-icon {
    height: 20%;
}

.bottom-icon {
    transform: rotate(180deg);
}

.card i::before {
    font-family: "bootstrap-icons";
    font-size: 4rem;
    float: left;
    margin-top: 10px; 
    margin-left: 15px;
}

.spade::before {
    content: "\F59F";
    color: black;
}

.club::before {
    content: "\F599";
    color: black;
}

.heart::before {
    content: "\F59D";
    color: red;
}

.diamond::before {
    content: "\F59B";
    color: black;
}
.card-number {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-number span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10rem;
}

#modeInfo {
    margin-bottom: 50px;
}

#timer-display {
    font-size: 4rem;
    text-align: center;

}

